# email config
MAIL_USERNAME=''
MAIL_PASSWORD=''
MAIL_FROM=''
MAIL_FROM_NAME=''
MAIL_PORT=''
MAIL_SERVER=''
MAIL_TLS=''
MAIL_SSL=''
USE_CREDENTIALS=''

# database config
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=cmp_auth

# JWT config
JWT_ACCESS_EXP_HOURS=1
JWT_REFRESH_EXP_HOURS=5


JWT_ALGORITHM=RS256
KAVENEGAR_API_KEY=apikey
EMAIL_ACTIVATION_EXP_MINUTES=20
PHONE_ACTIVATION_EXP_MINUTES=10
EMAIL_ACTIVATION_LIMIT=2
PHONE_ACTIVATION_LIMIT=2
KAVENEGAR_VERIFICATION_TEMPLATE_NAME=verification